.about_us {
    height: 25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.about_us__header--container{
    flex: 0.2;
}

.about_us__header {
    margin: 0;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.about_us__article--container {
    flex: 0.8
}

.about_us__article--container article {
    padding: 1rem;
}

@media(min-width: 40rem) and (max-height: 1100px) {
    .about_us__header {
        width: 90%;
    }
}

@media(min-width: 40rem) and (min-height: 400px) {
    .about_us {
        height: 30rem;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .about_us__header--container{
        flex: 0.4;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .about_us__header {
        height: 35%;
        font-size: 3rem;
        display: flex;
        width: 50%;
        border-right: 1px solid black;
        align-items: center;
      
    }

    .about_us__article--container {
        flex: 0.6;
        padding: 2rem
    }

    .about_us__article--container article {
        width: 100%;
        font-size: 1.3rem;
        margin: auto 0
    }
}
