.our-service {
    height: 100%;
    width: 250px;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 25px 0 rgb(34, 19, 31, .12);
}

.our-service:first-of-type {
    margin-left: 0;
}

.our-service-img__container {
    height: 50%;
    width: 100%;
}

.our-service-img__container img {
    height: 100%;
    width: 100%;
}

.description {
    height: 50%
}

.description p {
    text-align: center;
    font-weight: 500;
    color: #131313;
}

.description p:last-child {
    padding: 1rem;
    font-size: 0.7rem;
} 

@media(max-width: 40rem) {
    .our-service {
        width: 100%;
        margin: 0;
        margin-top: 1rem;
        box-shadow: 0 0 0 0;
    }

    .our-service:first-of-type {
        margin-top: 0;
    }

    .our-service-img__container img {
        height: 100%;
        width: 100%;
    }
}
