.what-we-do {
    height: auto;
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
}

.what-we-do__header {
    flex: 0.1;
    padding: 1rem;
    font-size: 1.5rem;
}

.what-we-do__header h1 {
    margin: 0;
    font-size: 2rem
}

.what-we-do__descriptors--container {
    flex: 0.9;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.what-we-do__descriptors--title {
    flex: 0.7;
    display: flex;
    width: 100%;
    justify-content: center;
}

.what-we-do__descriptors--dropout {
    background-image: url('../../../assets/ml_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    filter: grayscale(100%);
    position: absolute;
    z-index: -3;
    height: 20rem;
    width: 100%;
    opacity: 0.5;
}

.descriptors__title {
    height: 90%;
    width: 75%;
    position: relative;
}

.what-we-do__descriptors--title img {
    height: 90%;
    width: 80%;
}

.descriptors__article {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    align-items: center;
    height: 25%;
}

.descriptors__article p {
    width: 85%;
    margin: 0;
    padding: 0.2rem;
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 300;
    /* margin-top: 2rem; */
    /* animation: animae 2s  */
}

p.services-link {
    /* text-decoration: underline; */
    width: auto;
    border-bottom: 1px solid gray;
    align-self: flex-end;
    font-weight: bold;
    margin-right: 3rem;
    color: gray;
    cursor: pointer
}

p.services-link:hover {
    color: black
}


@keyframes animae {
    0%{
        opacity: 0;
        transform: translateY(100px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.descriptors__article ul {
    margin: 0;
    width: 80%;
    list-style: circle;
}

.descriptors__article li {
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 1rem;
}


@media (min-width: 40rem) and (max-height: 1100px) {
    .descriptors__title {
        width: 90%;
    }
}

@media(min-width: 40rem) and (min-height: 400px) {
    .what-we-do__descriptors--container {
        flex-direction: row;
        align-items: center;
    }
    
    .what-we-do__header {
        padding-left: 3rem;
    }
    
    .what-we-do__header h1 {
        font-size: 2.5rem;
    }
    
    .what-we-do__descriptors--container {
        justify-content: space-between;
        position: relative;
    }
    
    .what-we-do__descriptors--title {
        justify-content: center;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0.5;
        justify-self: flex-start;
    }
        
    .descriptors__title {
        height: 80%;
        width: 60%;
        min-width: 365px;
        min-height: 380px;
        font-size: 1.2rem;
    }
    
    .descriptors__article {
        flex: 0.5;
        justify-content: center;
    }

    
    .descriptors__article p{
        font-size: 2rem;
    }
}

@media(max-width: 900px) and (min-height: 400px) {
    .what-we-do__descriptors--title { 
        flex: 0.9;
    }

    .what-we-do__descriptors--dropout {
        background-size: cover;
        top: 15%
    }
}
