.toggle-button {
    height: 70%;
    display: flex;
    width: 2.2rem;
    margin-left: 0.5rem;
    justify-content: space-around;
    flex-direction: column;
}

.toggle-button__blocks {
    flex: 0.09;
    border-radius: 25px;
    background-color: white;
}

@media(min-width: 45rem) and (min-height: 400px){
    .toggle-button {
        display: none;
    }
}
