.toggle-button {
    height: 100%;
    display: flex;
    width: 3rem;
    justify-content: center;
    flex-direction: column;
}

.toggle-button__blocks {
    height: 9%;
    background-color: white;
    margin: 0.3rem;
}

@media(min-width: 40rem) and (min-height: 400px){
    .toggle-button {
        display: none;
    }
}
