.motto {
    height: 20rem;
    padding-top: 3rem;
    background-size: cover;
    width: 100%;
    position: relative;
    background-color: #131313;
}

.motto img{
    height: 100%;
    width: 100%;
}

.quote {
    height:100%; 
    width: 100%; 
    background-color: transparent; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 0; 
    z-index: 5;
    top: 20%
}

.quote h1 {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
}

.quote p {
    font-size: 1rem;
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
}

.quote h1{
    margin-top: 1rem;
    justify-self: start;
}

.motto img {
    height: 100%;
    width: 100%;
}

.motto__logo {
    height: 70px; 
    width: 250px;
}

@media(min-width:40rem) and (min-height: 400px) {
    .motto {
        height:25rem
    }

    .motto__logo {
        width: 400px
    }

    .motto p {
        font-size: 1rem;
    }

    .motto h1 {
        font-size: 2.5rem;
    }
}
