.motto {
    height: 20rem;
    padding-top: 3rem;
    /* background: url('../../../assets/motto.jpeg'); */
    background-size: cover;
    width: 100%;
    position: relative;
}

.motto img{
    height: 100%;
    width: 100%;
}

.quote {
    height:100%; 
    width: 100%; 
    background-color: transparent; 
    position: absolute; 
    flex-direction: column;
    align-items: center;
    display: flex;
    padding-top: 3rem;
    top: 0; 
    z-index: 5
}

.quote h1,
.quote p {
    color: #131313;
    text-align: center;
    font-size: 2rem;
}

.quote p {
    font-size: 1rem;
    margin: 0;
    font-weight: 500;
    text-transform: uppercase;
}

.quote h1{
    margin-top: 3rem;
    justify-self: start;
}

.motto img {
    height: 100%;
    width: 100%;
    filter: grayscale(50%);
}

@media(min-width:40rem) and (min-height: 400px) {
    .motto {
        height:25rem
    }

    .motto p {
        font-size: 1rem;
    }

    .motto h1 {
        font-size: 2.5rem;
    }

}
